[default]
# Specifies the behaviour of auto-expanded routines
role = 'kernel'
expand = true  # Automatically expand subroutine calls
strict = false # Throw exceptions during discovery

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
# TODO: Add type-bound procedure support and adjust scheduler to it
disable = ['load', 'abort', 'dr_hook', 'system_clock']

block = ['prepare_acraneb2', 'check_acraneb2']
#block = ['prepare_acraneb2', 'check_acraneb2', 'acraneb_transt', 'acraneb_solvs', 'acraneb_coefs', 'acraneb_solvt3', 'acraneb_solvt', 'acraneb_coeft', 'ac_cloud_model2']

# Define entry point for call-tree transformation
[[routine]]
name = 'wrapper'
role = 'driver'

[[dimension]]
name = 'horizontal'
size = 'KLON'
index = 'JLON'
bounds = ['KIDIA', 'KFDIA']
aliases = ['NPROMA', 'KDIM%KLON']

[[dimension]]
name = 'vertical'
size = 'KLEV'
index = 'JLEV'

[[dimension]]
name = 'block_dim'
size = 'KGPBLK'
index = 'JBLK'
