[default]
# Specifies the behaviour of auto-expanded routines
role = 'kernel'
expand = true  # Automatically expand subroutine calls
strict = true # Throw exceptions during discovery

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.
# TODO: Add type-bound procedure support and adjust scheduler to it
#disable = ['load', 'abort', 'dr_hook', 'system_clock']

# Define entry point for call-tree transformation
[routines.wrapper]
role = 'driver'

[dimensions.horizontal]
size = 'KLON'
index = 'JLON'
bounds = ['KIDIA', 'KFDIA']
aliases = ['NPROMA', 'KDIM%KLON']

[dimensions.vertical]
size = 'KLEV'
index = 'JLEV'

[dimensions.block_dim]
size = 'KGPBLK'
index = 'JBLK'
